<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.css" />
  <link rel="stylesheet" type="text/css" href="/css/chat.css" />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/js/notification.js"></script>
</head>

<body>
  <header>
    <div class="left">
      <a href="/"><img src="/img/arrow-back.png" /></a>
    </div>
    <div class="right">
      MyCTプレイヤーズチャット
    </div>
  </header>
  <!-- 通知 -->
  <section id="notification">
    <div class="mask"></div>
    <div class="modal">
      <div class="top">
        <div class="icon">
          <img src="img/icon_sample.png" />
        </div>
        <div class="name">ゲームマスター</div>
      </div>
      <div class="middle" id="mission_text">
      </div>
      <div class="bottom">
        <div href="" class="bottom_left">閉じる</div>
        <a href="" class="bottom_right">表示</a>
      </div>
    </div>
  </section>
  <!-- 通知 -->
  <section id="chat">
    <div class="scroll" id="chat_message_list_field"></div>
  </section>
  <section id="submit">
    <div class=left>
      <input id="chat_message_field" type="text" class="text">
    </div>
    <div class="right">
      <input id="send_submit_button" type="submit" class="button">
    </div>
  </section>
  <script>
    var url = window.location.href
    var host = window.document.location.host;
    var ws;
    var cookie_strings = document.cookie.split(';');
    var user_uuid_string = cookie_strings.find(function (cookie_string) {
      var cookie_kv = cookie_string.split('=');
      return cookie_kv[0] === "user_uuid";
    });
    var user_uuid = user_uuid_string.split("=")[1];
    if (!user_uuid) {
      user_uuid = localStorage.getItem("user_uuid");
    }

    var messages = [];
    $("#notification").hide();

    var appendMessage = function (messageObj) {
      var messageDom = $('#chat_message_list_field');
      if (messageObj.user_uuid === user_uuid) {
        messageDom.append(
          `<div class=\"bulb self\">
             <div class=\"text\">
               ${messageObj.text}
             </div>
           </div>`
        );
      } else {
        messageDom.append(
          `<div class =\"bulb others\">
             <div class=\"icon\">
               <img src=\"img/icon_sample.png\" />
             </div>
             <div class=\"text\">
               ${messageObj.text}
             </div>
           </div>`
        );
      }
      messages.push(messageObj);
    };

    var loadMessages = function (page = 0) {
      $.ajax({
        type: "GET",
        url: "/messages",
        dataType: "json",
        success: function (messages) {
          for (var message of messages) {
            appendMessage(message);
          }
        }
      });
    }
    loadMessages(0);

    for (var i = 0; i < messages.length; ++i) {
      appendMessage(messages[i]);
    }

    if (url.startsWith("https://")) {
      ws = new WebSocket('wss://' + host);
    } else {
      ws = new WebSocket('ws://' + host);
    }
    $('#send_submit_button').on("click", function () {
      var message = {
        user_uuid: user_uuid,
        text: $('#chat_message_field').val(),
      }
      ws.send(JSON.stringify(message));
      $('#chat_message_field').val('');
      return false;
    });

    ws.onmessage = function (event) {
      var received_message_data = JSON.parse(event.data);
      if (received_message_data.action_name === "message") {
        appendMessage(received_message_data);
      } else if (received_message_data.action_name === "mission") {
        $("#mission_text").text("");
        $("#mission_text").append(received_message_data.text);
        $("#notification").show();
      }
    };
  </script>
</body>

</html>