<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/reset.css" />
  <link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
  <link rel="stylesheet" type="text/css" href="css/demoimg.css" />
</head>

<body>
  <header>
    <div class="left">
      <a href="/"><img src="img/arrow-back.png" /></a>
    </div>
  </header>
  <section id="play" class="demo_img">
    <div class="img"><img src="img/box_play.png" alt=""></div>
  </section>
</body>